.messager {
  background: yellowgreen;
  flex: 0 1 100%;
  /* width: 100%; */
  padding: 20px;
  display: flex;
  min-height: 100vh;
}

.messager-dialogs {
  min-width: 150px;
  border-right: 1px solid black;
  /* display: flex; */
}

.messager-dialogs a {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: gray;
}

.messager-dialogs a.active {
  color: black;
  font-weight: bold;
}

.messager-dialogs h3 {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.messager-text {
  padding-left: 20px;
}
