* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 98%;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-block {
  display: flex;
  flex: 1 1 100%;
}
