.profile {
  background: #aeaeae;
  flex: 0 1 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.profile-bg {
  height: 200px;
  background-image: url(./z_1de13764.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
