.container {
  width: 98%;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background: green;
  grid-area: header;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

.sidebar {
  background: pink;
  grid-area: sidebar;
}

.content {
  background: #aeaeae;
  grid-area: content;
}

.footer {
  background: #000;
  grid-area: footer;
}

.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: 60px 100% 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

h1 {
  display: inline-block;
}
